.hangman-container {
  width: 600px;
}

.hangman-image-container {
  width: 75px;
  height: 200px;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.answer-container {
  width: 500px;
  height: 100px;
  overflow: hidden;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
}

.answer-letter-container {
  width: 100px;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

.answer-letter {
  bottom: 0;
  font-size: 4.8rem;
}

.info-container {
  right: 0;
}

